*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}

.button{
    background-color: palevioletred;
    color:white;
    border: none;
    display: block;
    border-radius: 4px;
    font-size: 14px;
    padding: 4px 12px;
}
